[submodule "repo/assets"]
	path = repo/assets
	url = https://github.com/OCR-D/assets
[submodule "olena-git"]
	path = repo/olena
	url = https://github.com/OCR-D/olena
[submodule "repo/xmlstarlet"]
	path = repo/xmlstarlet
	url = https://github.com/sulzbals/xmlstarlet.git
	branch = conda
